*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    color: white;
    background-color: green;
    text-align: center;
    font-weight: bold;
}
#cliff{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
p{
    font-weight: bold;
    font-size: 2rem;
    color: goldenrod;
}
img{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: goldenrod;
    color: hsla(100, 100%, 20%, 1.0);
    width: 150px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}